# ============================================================
# AppSell Connection - Environment Variables
# ============================================================

# ============================================================
# RabbitMQ Configuration
# ============================================================

# Local development (Docker Compose)
RABBITMQ_URL="amqp://admin:docker@localhost:5672"

# Production (Amazon MQ / AWS)
# RABBITMQ_URL="amqps://admin:your-password@b-xxxxx-1.mq.us-east-1.amazonaws.com:5671"


# ============================================================
# PostgreSQL Database Configuration
# ============================================================

# Local development (Docker Compose)
DATABASE_URL="postgresql://postgres:docker@localhost:15255/appsell?sslmode=disable"

# Production (RDS)
# DATABASE_URL="postgresql://admin:your-password@your-rds.us-east-1.rds.amazonaws.com:5432/appsell?sslmode=require"


# ============================================================
# Application Configuration
# ============================================================

# Environment: development | production | test
NODE_ENV="development"

# Log level: error | warn | info | debug
LOG_LEVEL="debug"
PORT="5255"
